body {
    font-family: 'Times New Roman', serif; /* Fonte Times New Roman para todo o site */
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #f8f9fa; /* Cinza claro */
    z-index: 1000; /* Garante que a navbar fique sobre o conteúdo */
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar-brand img {
    width: 100px;
  }
  
  .navbar-nav .nav-link {
    color: #0263B2; /* Azul para links da navbar */
  }
  
  .navbar-nav .nav-link:hover {
    color: #014f9b; /* Azul mais escuro ao passar o mouse */
  }
  
  .navbar-nav .dropdown-menu {
    background-color: #f8f9fa; /* Cor de fundo do dropdown */
  }
  
  .navbar-nav .dropdown-item {
    color: #0263B2; /* Azul para itens do dropdown */
  }
  
  .navbar-nav .dropdown-item:hover {
    color: #014f9b; /* Azul mais escuro ao passar o mouse */
  }
  
  footer {
    background-color: #f8f9fa; /* Cinza claro */
    color: #0263B2; /* Azul para o texto do footer */
  }
  
  footer h5, footer a {
    color: #0263B2; /* Azul para títulos e links no footer */
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .btn-primary {
    background-color: #0263B2;
    border-color: #0263B2;
  }
  
  .btn-primary:hover {
    background-color: #014f9b;
    border-color: #014f9b;
  }
  
  .btn-secondary {
    background-color: #C28E29;
    border-color: #C28E29;
  }
  
  .btn-secondary:hover {
    background-color: #a07b1f;
    border-color: #a07b1f;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold; /* Todos os títulos em negrito */
  }
  
  /* Ajusta o padding superior do conteúdo para compensar a altura da navbar fixa */
  body {
    padding-top: 80px; /* Ajuste conforme a altura da navbar */
  }
  body {
    color: #000;
  }
  /* Comites */
   body {
      color: #000000;
    }

    .accordion-button {
      font-weight: bold;
      color: #C28E29;
      font-size: 150%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: center;
    }

    .accordion-icon {
      margin-left: auto;
    }

    .accordion {
      width: 90%;
      margin: auto;
    }

    header.hero {
      background-color: #007bff;
      color: #fff;
      text-align: center;
      padding: 5rem 0;
      position: relative;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    header.hero .container {
      position: relative;
      z-index: 2;
    }

    header.hero::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    header.hero h1 {
      font-size: 4rem;
    }

    .header-box {
      border: 3px solid white;
      display: inline-block;
      padding: 0.5rem 1rem;
      text-align: center; /* Add this line */
    }

    h2 {
      color: #0263B2;
      font-size: 2.5rem;
      padding-bottom: 0.5rem;
      margin-top: 3rem;
    }

    p.section-text {
      color: #0263B2;
      font-size: 1.25rem;
      margin-top: 1rem;
      border: 2px solid #0263B2;
      padding: 1rem;
      border-radius: 5px;
      text-align: justify;
    }
    .card-body {
      text-align: justify; /* Add this line */
    }

    .section-divider {
      border-top: 2px solid #0263B2;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .accordion-button:hover {
      text-decoration: none;
    }

    .accordion-button.collapsed .accordion-icon::before {
      content: "+";
    }

    .accordion-button:not(.collapsed) .accordion-icon::before {
      content: "-";
    }
   
